.modal {
    align-items : center;
    justify-content :center;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color :rgba(0,0,0,0.4);
}

.modal-container{
    background-color:#fff;
    width:900px;
    max-width:calc(100%-32px);
    min-height:200px;
    position:relative;
    animation:modalFadeIn ease .5s;
}
