@model List<Qly_BanSach_MVC.Models.CartItem>
<script src="~/assets/client/controllers/cartController.js"></script>
<p>
     <span>Giỏ hàng:</span><div id="dd" class="wrapper-dropdown-2">
        0 item(s) - $0.00
        <ul class="dropdown">
            <li>Bạn không có sản phẩm nào trong giỏ hàng</li>
        </ul>
    </div>
</p>

